:root {
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);

    --dark-gray-color:hsl(0, 0%, 55%);
    --very-dark-gray-color:hsl(0, 0%, 41%);
  }
*{
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    margin: 0;
}

.d-flex{
    display: flex;
}
body{
    background-color: var(--white-color);
}
.hero-section{
    background-image: url('../images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    position: relative;
}
.hero-container{
    padding: 8vh 2vw;
    background:  hsla(0, 0%, 0%, 0.33);
    height: 72vh;
    padding-bottom: 15vh;
}
/* Header */
nav.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8% 1% 0;
    color: var(--white-color) !important;
}
.header .brand{
    margin-left: 9%;
}
.header .collapse-items{
    display: flex;
    align-items: center;
}
.header-nav{
    list-style: none;
    display: inline-flex;
   
}
.header-nav li{
    margin: auto;
}
.header-nav li a{
    padding: 0 24px;
    text-decoration: none;
    color: var(--white-color);
}
.header-nav li a:hover{
    color: var(--dark-gray-color);
}
.landing{
    color: var(--white-color);
    border: 3px solid var(--white-color);
    margin: 26vh 8vw 0 8vw;
    padding:  16px;
    width: 40%;
}
.landing h1{
    font-family: 'Josefin Sans', sans-serif;
}
.f-48{
    font-size: 52px;
    text-transform: uppercase;
}
/* Interacive section */

.leader-section{
    padding: 10vw;
    position: relative;
}
.interactive-text{
    padding: 9% 8%;
    width: 35%;
    position: absolute;
    right: 0;
    bottom: 2%;
    background-color: var(--white-color);
}
 h4{
    font-size: 3.1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 3%;
    letter-spacing: 0.1rem;
    font-weight: 100;
}
.interactive-text  p{
    word-spacing: 0.1rem;
    color: var(--dark-gray-color);
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2rem;
}

/* Creations Section */
section.creations-section{
padding: 10vh 10vw
}
section.creations-section h4{
    margin-bottom: 0;
    
}
.heading-row{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.more-btn{
    padding: 10px 42px;
    border: 0.13rem solid var(--black-color);
    font-weight: 100;
    background-color: transparent;
    color: var(--black-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border-radius: 2px;
}

/* creation */
.creation-card-wrapper{
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
}
.creation-card{
    width: 240px;
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin:8px;
}
.creation-card-1{
    background: url('/images/desktop/image-deep-earth.jpg');
}
.creation-card-2{
    background: url('/images/desktop/image-night-arcade.jpg');
}
.creation-card-3{
    background: url('/images/desktop/image-soccer-team.jpg');
}
.creation-card-4{
    background: url('/images/desktop/image-grid.jpg');
}
.creation-card-5{
    background: url('/images/desktop/image-from-above.jpg');
}
.creation-card-6{
    background: url('/images/desktop/image-pocket-borealis.jpg');
}
.creation-card-7{
    background: url('/images/desktop/image-curiosity.jpg');
}
.creation-card-8{
    background: url('/images/desktop/image-fisheye.jpg');
}
.creation-label {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: var(--white-color);
}
.creation-label h4 {
    font-size: 36px;
}
div.creation-card-wrapper:first-child{
    margin-left: 0;
}

/* Footer */
section.footer{
    background-color: var(--black-color);
    padding: 3% 9%;
}
.logo-row,.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons,.footer-nav{
    display: flex;
    list-style: none;
    padding:0;
}
.social-link,.footer-links .nav-item{
    margin: 0 8px;
}
.footer-links{
    padding: 3% 0;
}
.footer-links a {
    color: var(--white-color);
    text-decoration: none;
}
.footer .copyright{
    color: var(--dark-gray-color);
}
