:root {
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);

    --dark-gray-color:hsl(0, 0%, 55%);
    --very-dark-gray-color:hsl(0, 0%, 41%);
  }
*{
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    margin: 0;
}

.d-flex{
    display: flex;
}
.hero-section{
    background-image: url('../images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 82vh;
    position: relative;
}
.hero-container{
    padding: 36px 32px;
    background:  hsla(0, 0%, 0%, 0.33);
    max-height: 80vh;
    padding-bottom: 15vh;
}
/* Header */
nav.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8% 1% 0;
    color: var(--white-color) !important;
}
.header .brand{
    margin-left: 9%;
}
.header .collapse-items{
    display: flex;
    align-items: center;
}
.header-nav{
    list-style: none;
    display: inline-flex;
   
}
.header-nav li{
    margin: auto;
}
.header-nav li a{
    padding: 0 24px;
    text-decoration: none;
    color: var(--white-color);
}
.header-nav li a:hover{
    color: var(--dark-gray-color);
}
.landing{
    color: var(--dark-gray-color);
    border: 2px solid var(--dark-gray-color);
    margin: 20vh 8vw 0 8vw;
    padding:  16px;
    width: 40%;
}
.landing h1{
    font-family: 'Josefin Sans', sans-serif;
}
.f-48{
    font-size: 52px;
    text-transform: uppercase;
}